.checkin_box {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.checkin_img {
  width: 300px;
  height: 300px;
}

.checking_details {
  min-width: 300px;
  max-width: 700px;
  padding: 50px;
  border: 1px solid rgba(26, 59, 88, 0.24);
  border-radius: 55px;
}

.login_heading, .signup_heading {
  font-weight: 500;
  font-size: 20px;
  color: #1a3b58;
  display: inline;
  margin: 5px;
  cursor: pointer;
  font-weight: bold;
}

.hr_line {
  height: 0px;
  border: 1px solid rgba(64, 145, 223, 0.12);
  margin: 28px 0px;
}

.heading_hr{
  height: 0;
  border: 1px solid #1A3B58;
  background-color: #1A3B58;
  border-radius: #1A3B58;
  border-radius: 5px;
  width: 30px;
}


@media screen and (max-width: 660px) {
  .checkin_img{
    display: none;
  }
}