.search_box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_icon{
    color: #9A9A9A;
    position: relative;
    left: 20px;
}

.search_bar{
    padding-left: 20px;
    border: none;
}

@media screen and (max-width: 660px) {
    .search_bar{
      width: 70px;
    }

  }