.search_box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_icon{
    color: #9A9A9A;
    position: relative;
    left: 20px;
}

.search_bar{
    padding-left: 20px;
    border: none;
}