.todoPage{
    display: flex;
   flex-wrap: wrap;
}

.todo_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.todo_details{
    width: 75%;
}

.todo_status{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.project_heading{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 101.1%;
    letter-spacing: 0.05em;
    color: #212121; 
    margin: 20px 20px;
}

.hamburger_icon{
    display: none;
}

@media screen and (max-width: 660px) {
    .todo_details{
      width: 100%;
    }
    .hamburger_icon{
        display: block;
        margin-right: -35px;
        margin-left: 20px;
    }
  }