.sidebar {
  border-right: 1.5px solid #f0f0f0;
  height: 100vh;
  margin:0px 25px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.sidebar_heading {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.03em;
  color: #161616;
}

.sidebar_icon {
  display: inline;
  color: #9a9a9a;
}

.sidebar_title {
  display: inline;
  color: #9a9a9a;
  margin-left: 20px;
  cursor: pointer;
}

.sidebar_box {
  margin: 25px;
}

@media screen and (max-width: 660px) {
  .sidebar{
    display: none;
  }
}
