.login_title{
    font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 101.1%;
color: #1A3B58
}

.login_subtitle{
font-style: normal;
font-weight: 300;
font-size: 10px;
line-height: 15px;
color: #999999;
}