textarea,input{
  border: 1px solid #CBDBEA;
border-radius: 8px;
  height: 45px;
  margin: 10px;
  padding-left: 10px;
  font-weight: 300;
font-size: 14px;
display: block;
width: 100%;
outline: none;
}

textarea,input::placeholder{
  color: #B7C0C9;
}

button{
  height: 45px;
  margin: 10px;
  background: #329C89;
  border-radius: 8px;
  border: none;
  color: #FFFFFF;
  display: block;
  width: 100%;
}

